<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <connectionStrings>
    <clear />
    <add name="stockdbstr[0]" connectionString="Data Source=sql.bsite.net\MSSQL2016;Initial Catalog=veerendrap25_StockDB;User Id=veerendrap25_StockDB;Password=freeasp#13579;Connection Timeout=30"/>
    <add name="stockdbstr[1]" connectionString="Data Source=(localdb)\Projectsv12;Initial Catalog=StockDB;Integrated Security=True;"/>
    </connectionStrings>

</configuration>
